body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.image-container {
    position: relative;
    width: 100%;
}

.bg-image {
    width: 100%;
    height: 10rem;
}

.cityName {
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 3rem;
}

.temperature {
    position: absolute;
    top: 30%;
    left: 80%;
    font-size: 3rem;
}

.dark {
    color: white;
    background-color: rgb(24, 24, 24);
}

.tableContainer {
    border-collapse: collapse;
}

.dark-table th, .dark-table td {
    border: 1px solid rgb(255, 255, 255);
    text-align: left;
    padding: 10px;
}

.light-table th, .light-table td {
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
    padding: 10px;
}